PORT=3116
API_KEY=your_api_key_here
MONGODB_URI=mongodb://127.0.0.1:27017/bot_database

# Array of Discord selfbot tokens used for guild indexing
DISCORD_USER_TOKENS='[
  "YOUR_USER_TOKEN_1",
  "YOUR_USER_TOKEN_2"
]'
